 {{appName}}
 
 <table width="560" style="padding: 2px; border: 1px solid #888899; background-color:#EEEEEE; ">
      <tbody>
        <tr>
          <td>
            Song_1:
            <input id="elo1" value="1000" size="8">
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            Song_2:
            <input id="elo2" value="1000" size="8">
          </td>
          <td><button type="button" id="button">Calculate Change</button></td>
        </tr>
      </tbody>
    </table>

    <form name="ratingchange" id="ratingchange" action="">
      <table width="560" style="border: 1px solid #888899; background-color:#EEEEEE">
        <tbody>
          <tr>
            <table width="100%" style="margin: 4px 4px 4px 4px;">
              <tbody>
                <tr>
                  <td width="25%">song_1 would improve</td>
                  <td width="25%">song_1 would decrease</td>
                  <td width="25%">song_1 If Won, score</td>
                  <td width="25%">song_1 IF Lost, score</td>
                </tr>
                <tr>
                  <td>
                    <input name="win_1" value="0" size="8"
                      style="border: 0px; font-weight:bold; background-color:#EEEEEE">
                  </td>
                  <td>
                    <input name="loss_1" value="0" size="8"
                      style="border: 0px; font-weight:bold; background-color:#EEEEEE">
                  </td>
                  <td>
                    <input name="score_1" value="0" size="8"
                      style="border: 0px; font-weight:bold; background-color:#EEEEEE">
                  </td>
                  <td>
                    <input name="score_1b" value="0" size="8"
                      style="border: 0px; font-weight:bold; background-color:#EEEEEE">
                  </td>
                </tr>
          </tr>
        </tbody>
      </table>
      </tr>
      </tbody>
      </table>
    </form>

    <form name="ratingchange2" id="ratingchange2" action="">
      <table width="560" style="border: 1px solid #888899; background-color:#EEEEEE">
        <tbody>
          <tr>
            <table width="100%" style="margin: 4px 4px 4px 4px;">
              <tbody>
                <tr>
                  <td width="25%">song_2 would improve</td>
                  <td width="25%">song_2 would decrease</td>
                  <td width="25%">song_2 if Won, score</td>
                  <td width="25%">song_2 if Lost, score</td>
                </tr>
                <tr>
                  <td>
                    <input name="win_2" value="0" size="8"
                      style="border: 0px; font-weight:bold; background-color:#EEEEEE">
                  </td>
                  <td>
                    <input name="loss_2" value="0" size="8"
                      style="border: 0px; font-weight:bold; background-color:#EEEEEE">
                  </td>
                  <td>
                    <input name="score_2" value="0" size="8"
                      style="border: 0px; font-weight:bold; background-color:#EEEEEE">
                  </td>
                  <td>
                    <input name="score_2b" value="0" size="8"
                      style="border: 0px; font-weight:bold; background-color:#EEEEEE">
                  </td>
                  </td>
                </tr>
              </tbody>
            </table>
          </tr>
        </tbody>
      </table>
    </form>

    <section class="section hero is-primary has-text-centered">
      <div class="hero-body">
        <p class="title">
          Song Battle
        </p>
        <p class="subtitle">
          Click begin and then choose your favourite spotify track in a 1 V 1 battle or "Sputtle"
        </p>
      </div>
    </section>

    <section class="section media has-text-centered">
      <div class="container">
        <div class="columns is-centered is-8 is-variable">

          <div class="column is-4 media-left is-multiline">
            <div class="card">
              <div class="is-64x64 px-6">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="track image">
              </div>
              <div class="columns is-centered is-multiline">
                <h1 class="title pt-2">Song Information</h1>
                <div class="subtitle column is-6">
                  <p>Title: {Example}</p>
                  <p>Artist: {Example}</p>
                  <p>Score: {Example} </p>
                </div>
                <div class="column is-6">
                  <button class="button is-rounded is-small is-primary">Play Song</button>
                </div>
              </div>
              <footer class="card-footer">
                <button class="card-footer-item button is-info ">This song wins the Sputtle </button>
              </footer>
            </div>
          </div>


          <div class="column is-2 media-center has-text-centered">
            <div class="columns is-centered">
              <div class="column is-align-items-flex-end">
                <button class="button is-centered is-success is-large ">Begin Match</button>
              </div>
            </div>
          </div>

          <div class="column is-4 media-right is-multiline">
            <div class="card">
              <div class="is-64x64 px-6">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="track image">
              </div>
              <div class="columns is-centered is-multiline">
                <h1 class="title pt-2">Song Information</h1>
                <div class="subtitle column is-6">
                  <p>Title: {Example}</p>
                  <p>Artist: {Example}</p>
                  <p>Score: {Example} </p>
                </div>
                <div class="column is-6">
                  <button class="button is-rounded is-small is-primary">Play Song</button>
                </div>
              </div>
              <footer class="card-footer">
                <button class="card-footer-item button is-info ">This song wins the Sputtle </button>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </section>