<section class="section media has-text-centered">
<div class="container">
<div class="columns is-centered is-8 is-variable">
{{#if loggedIn}}
{{#each songs}}
{{> battles}}
{{/each}}
{{/if}}
</section>

<div class="block  has-text-centered">
  <br />
  <button class="button is-primary is-rounded is-large">Sputtle Again</button>
</div>
 

